body {
    background: rgb(2, 28, 35);
}

header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    margin-left: 7%;
    color: white;
}

.bleu {
    color: aquamarine;
}

h2 {
    font-family: "Yeseva One", sans-serif;
}

h3 {
    font-family: "Montserrat", sans-serif;
    color: rgb(134, 132, 132);
    max-width: 70%;
    font-size: 16px;
}

#rubrique {
    display: flex;
    justify-content: center;
    align-items: center;


}

#rubrique p {
    color: white;
    font-family: "montserrat", sans-serif;
    margin: 10px;
    padding: 5px 20px;
    

}
.pause{
background:rgb(22, 163, 133);
    padding: 5px 20px;
}


footer {
    color: rgb(134, 132, 132);
    display: flex;
    font-family: "montserrat", sans-serif;
    justify-content: center;
    font-size: 14px;
}
div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    grid-gap: 10px;
    margin-left: 6%;
    margin-right: 6%;
     }
     @media  (max-width:768px) {
        .Images {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1px;
            width: 80%;
            margin: auto;
            justify-items: center;
            
    
        }
        header{
            flex-direction: column;
        }
        h3 {
            max-width: 100%;
            text-align: left;
        }

    
        .Images img {
            width: 100%;
        }
    }
     @media (min-width:768px)and (max-width:1024px) {
        .Images {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 1px;
            width: 80%;
            margin: auto;
            justify-items: center;
    
        }
        
       
    
        .Images img {
            width: 100%;
        }
    }
    
  
    